body {
    font-family: "Ubuntu";
    margin: 50px;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: larger;
}

ul {
    text-align: center;
    font-size: larger;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    font-size: large;
    list-style: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

img {
    padding-top: 20px;
    border-radius: 37%;
}

div{
    background-image: url("background.jpg");
    background-repeat: repeat;
    border-radius: 300px;
    border: 5px solid #fdfdfd;
}